.mobile-toggle {
  display: none;
}
.desktop-toggle {
  margin-left: 10px;
  margin-bottom: 3px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 20px;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.tabbed {
  padding-left: 2rem
}

@media (max-width: 768px) {
  .mobile-toggle {
    display: inline-flex;
  }
  .desktop-toggle {
    display: none;
  }
}
